<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>knowledgeSearch.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6FFF3389572245029EE9801E5FA2FA4710D459B1</string>
				<key>dateExpires</key>
				<string>2022/11/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FFF3389572245029EE9801E5FA2FA4710D459B1</string>
						<key>dateExpires</key>
						<string>2022/11/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AWSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MHAGM665WL</string>
						<key>name</key>
						<string>Ryoka Systems Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6FFF3389572245029EE9801E5FA2FA4710D459B1</string>
						<key>dateExpires</key>
						<string>2022/11/28</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MHAGM665WL</string>
						<key>name</key>
						<string>Ryoka Systems Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MHAGM665WL.jp.knowledgeSearch</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MHAGM665WL</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>MHAGM665WL.jp.knowledgeSearch</string>
				</array>
			</dict>
			<key>name</key>
			<string>knowledgeSearch.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>90e1e090-df2d-4475-8868-c4fd203aa5b0</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: jp.knowledgeSearch</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MHAGM665WL</string>
				<key>name</key>
				<string>Ryoka Systems Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
