<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/knowledgeSearch-1B4B4F48-738E-4282-9A87-52ABEBA8BA80.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>11463498</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>11463498</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>27167653</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>27167653</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/knowledgeSearch-56C328EB-7172-4E03-8DF5-B2E297D84E43.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>11463551</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>11463551</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>27168128</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>27168128</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone12,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/knowledgeSearch-84950130-2ECA-4E3E-A200-160BE95FF248.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>10244109</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>10244109</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>25961805</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>25961805</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad7,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/knowledgeSearch-CB72D661-92A2-49FA-A30A-5747B2DCEF82.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>10244149</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>10244149</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>25962257</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>25962257</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad11,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,12</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone12,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,5</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,7</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,9</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,6</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,11</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,10</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,4</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad13,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,2</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,3</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad11,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad8,8</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>14.0</string>
				</dict>
			</array>
		</dict>
		<key>Apps/knowledgeSearch.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>22383080</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>22383080</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>38366395</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>38366395</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
